.rmdb-loadmorebtn {
  background: #5fdd65ef;
  width: 100%;
  min-height: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 60px;
  transition: all 0.3s;
}

.rmdb-loadmorebtn p {
  font-family: 'Abel', sans-serif;
  font-size:35px;
  padding: 20px;
}

.rmdb-loadmorebtn:hover {
  opacity: 0.8;
}